<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="LF" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Canvas Demo</title>
  </head>
  <body>
    <div
      style="background-color:rgba(43, 189, 226, 0.877);width: 1280px;height: 900px; position: relative;"
    >
      <canvas
        id="canvas"
        style="position: absolute; top: 0; left:0; bottom: 0; right: 0; margin: auto;"
      ></canvas>
      <div
        id="line"
        style=" position:absolute;width:0px;height: 900px; border:2px solid red;background-color: red;"
      ></div>
      <!-- <div
        id="line2"
        style=" position:absolute;width:1300px;height: 0px; border:2px solid red;background-color: red;"
      ></div>
      <button @click>切换对比方向</button> -->
    </div>
    <script>
      var line = document.getElementById("line");
      var line2 = document.getElementById("line2");

      function clickButton() {
        if (!flag) {
          line.style.display = "none";
        }
      }

      var newLineX = 0;
      var leftDis = 0;
      var lineLeft = 0;
      var lineRight = 1280;
      console.log("line", line);
      line.onmousedown = function(evt) {
        // var lineLe=newLineX-3
        // line.style.left=lineLe+'px';
        // line.style.width='6px';
        console.log(`----------进来------------`);
        var lineX = Number(line.style.left.slice(0, -2));
        var mouseX = evt.clientX;
        document.onmousemove = function(evt) {
          console.log("evt.clientX", evt.clientX);
          var changeX = evt.clientX - mouseX;
          newLineX = lineX + changeX;
          if (newLineX < lineLeft) {
            newLineX = lineLeft;
          }
          if (newLineX > lineRight) {
            newLineX = lineRight;
          }
          leftDis = newLineX;

          console.log("newLineX", newLineX);
          line.style.left = newLineX + "px";
          drawImage();
        };
        document.onmouseup = function(evt) {
          // line.style.width='0px'
          //   console.log('------------')
          document.onmousemove = null;
          document.onmouseup = null;
        };
      };

      var imgX = 0; //画布X轴坐标
      var imgY = 0; //画布Y轴坐标
      var isMouseDown = false;
      var canvas = document.getElementById("canvas"); //获取画布
      var cs = canvas.getContext("2d");
      // cs.globalAlpha=0.5;
      var image = new Image();
      var image2 = new Image();

      var imgScale = 1; //当前放大倍数
      image.src = "../../../static/flower.jpg";
      image.onload = function() {
        canvas.width = image.width; //定位canvas宽度
        canvas.height = image.height; //定位canvas高度
        drawImage();
      };
      image2.src = "../../../static/营业.jpg";
      image2.onload = function() {
        drawImage();
      };
      //鼠标滚动
      canvas.addEventListener(
        "mousewheel",
        evt => {
          handleScroll(evt); //鼠标滚动触发
        },
        false
      );
      //当鼠标按下
      canvas.onmousedown = function(event) {
        // console.log(`----------按下了------------`);
        mouseDownLocation = windowToCanvas(
          canvas,
          event.clientX,
          event.clientY
        );
        isMouseDown = true;
      };
      //鼠标弹起
      document.body.onmouseup = function() {
        canvas.style.cursor = "default";
        isMouseDown = false;
      };

      //鼠标移动
      canvas.onmousemove = function(event) {
        if (isMouseDown) {
          canvas.style.cursor = "move";
          var newMouseLocation = windowToCanvas(
            canvas,
            event.clientX,
            event.clientY
          );
          if (isDivArea({ x: event.clientX, y: event.clientY })) {
            var x = newMouseLocation.x - mouseDownLocation.x; //鼠标最新在的位置-鼠标按下时的位置
            var y = newMouseLocation.y - mouseDownLocation.y;
            mouseDownLocation = newMouseLocation; //把最新的位置赋值给鼠标按下时的位置
            imgX += x;
            imgY += y;
            lineLeft = imgX;
            lineRight = imgX + image.width * imgScale;
          } else {
            //鼠标移动至画布范围外，置鼠标弹起
            canvas.style.cursor = "default";
            isMouseDown = false;
          }
          drawImage();
        }
      };

      function isDivArea(point) {
        if (point.x < 0 || point.x > 1280 || point.y < 0 || point.y > 853) {
          return false;
        }
        return true;
      }

      function handleScroll(evt) {
        // console.log("evt", evt);
        var newMouseLocation = windowToCanvas(canvas, evt.clientX, evt.clientY);
        console.log("newMouseLocation", newMouseLocation);
        var x = leftDis;
        // var x = newMouseLocation.x; //x是鼠标相对于画布的横坐标
        var y = newMouseLocation.y; //y是纵坐标
        // var y=leftDis;
        console.log("x", newMouseLocation.x);
        console.log("y", y);
        console.log("leftDis", leftDis);

        console.log("event.deltaY", event.deltaY);
        var delta = evt.wheelDelta
          ? evt.wheelDelta / 80
          : evt.detail
          ? -evt.detail
          : 0;
        var factor = Math.pow(1.1, delta); //缩放比例，1.1^clicks

        if (event.deltaY > 40) {
          //鼠标滚轮放大
          imgScale *= 2;
          imgX = imgX * 2 - x;
          imgY = imgY * 2 - y;
          lineLeft = imgX;
          lineRight = imgX + image.width * imgScale;
        } else {
          //鼠标滚轮缩小
          imgScale *= 0.5;
          imgX = imgX * 0.5 + x * 0.5;
          imgY = imgY * 0.5 + y * 0.5;
          lineLeft = imgX;
          lineRight = imgX + image.width * imgScale;
        }
        drawImage();
      }
      //windowToCanvas此方法用于鼠标所在点的坐标切换到画布上的坐标
      function windowToCanvas(canvas, x, y) {
        var bbox = canvas.getBoundingClientRect(); //getBoundingClientRect获取元素相对于视窗的位置集合
        console.log("bbox", bbox);
        return {
          x: x - bbox.left - (bbox.width - canvas.width) / 2,
          y: y - bbox.top - (bbox.height - canvas.height) / 2
        };
      }
      //图片转换canvas渲染
      function drawImage(flag) {
        console.log("imgX,imgY", imgX, imgY);
        console.log(`----------画图------------`);
        console.log("imgScale", imgScale);
        cs.clearRect(0, 0, canvas.width * 2, canvas.height * 2); //在给定的矩形内清除指定的像素
        cs.drawImage(
          image,
          imgX, //x
          imgY, //y
          image.width * imgScale, //width
          image.height * imgScale //height
        );
        console.log("imgScale", imgScale);
        var drawLeft =
          ((leftDis - imgX) / (image2.width * imgScale)) * canvas.width; //计算当前分割线相对于image的比例，并计算出相对于画布的宽度。
        cs.drawImage(
          image2,
          0, //sx开始裁剪的位置
          0, //sy
          drawLeft, //swidth裁剪的宽度
          image.height, //sheight裁剪的高度
          imgX, //dx画布上的x坐标
          imgY, //dY
          drawLeft * imgScale, //width要使用的图像宽度
          image2.height * imgScale //height要使用的图像高度
        );
        // }
      }
    </script>
  </body>
</html>
