<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="LF" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Canvas Demo</title>
  </head>
  <body>
    <div
      style="background-color:rgba(43, 189, 226, 0.877);width: 1280px;height: 900px; position: relative;"
    >
      <canvas
        id="canvas"
        style="position: absolute; top: 0; left:0; bottom: 0; right: 0; margin: auto;"
      ></canvas>
      <div
        id="line"
        style=" position:absolute;top: 100px; width:1300px;height:0px; border:2px solid red;background-color: red;"
      ></div>
      <div
        id="line"
        style=" position:absolute;left: 500px; width:0px;height:900px; border:2px solid red;background-color: red;"
      ></div>
      <div
        id="line"
        style=" position:absolute;left: 1000px; width:0px;height:900px; border:2px solid red;background-color: red;"
      ></div>
    </div>
    <script>
  
      var factor = 1;
      var imgX = 0; //画布X轴坐标
      var imgY = 0; //画布Y轴坐标
      var img2X = 0; //画布X轴坐标
      var img2Y = 0; //画布Y轴坐标
      var isMouseDown = false;
      var canvas = document.getElementById("canvas"); //获取画布
      // var canvas1=document.getElementById('canvas');
      var cs = canvas.getContext("2d");
      // cs.globalAlpha=0.5;
      var image = new Image();
      var image2 = new Image();
      var lastPostionX = 0;
      var lastPostionY = 0;

      var imgScale = 1; //当前放大倍数
      image.src = "../../../static/flower.jpg";
      image.onload = function() {
        canvas.width = image.width; //定位canvas宽度
        canvas.height = image.height; //定位canvas高度
        drawImage();
      };
      image2.src = "../../../static/营业.jpg";
      image2.onload = function() {
        // drawImage();
      };
      //鼠标滚动
      canvas.addEventListener(
        "mousewheel",
        evt => {
          handleScroll(evt); //鼠标滚动触发
        },
        false
      );
      //当鼠标按下
      canvas.onmousedown = function(event) {
        // console.log(`----------按下了------------`);
        mouseDownLocation = windowToCanvas(
          canvas,
          event.clientX,
          event.clientY
        );
        isMouseDown = true;
      };
      //鼠标弹起
      document.body.onmouseup = function() {
        canvas.style.cursor = "default";
        isMouseDown = false;
      };

      //鼠标移动
      canvas.onmousemove = function(event) {
        if (isMouseDown) {
          canvas.style.cursor = "move";
          var newMouseLocation = windowToCanvas(
            canvas,
            event.clientX,
            event.clientY
          );
          if (isDivArea({ x: event.clientX, y: event.clientY })) {
            var x = newMouseLocation.x - mouseDownLocation.x; //鼠标最新在的位置-鼠标按下时的位置
            var y = newMouseLocation.y - mouseDownLocation.y;
            mouseDownLocation = newMouseLocation; //把最新的位置赋值给鼠标按下时的位置
            imgX += x;
            imgY += y;
          } else {
            //鼠标移动至画布范围外，置鼠标弹起
            canvas.style.cursor = "default";
            isMouseDown = false;
          }
          drawImage();
        }
      };

      function isDivArea(point) {
        if (point.x < 0 || point.x > 1280 || point.y < 0 || point.y > 853) {
          return false;
        }
        return true;
      }

      function handleScroll(evt) {
        console.log(`----------进来这里------------`);
        // console.log("evt", evt);
        console.log("evt.clientX", evt.clientX);
        console.log("evt.clientY", evt.clientY);

        // cs.save();

        // 重置渲染上下文
        // cs.setTransform(1, 0, 0, 1, 0, 0);

        // cs.clearRect(0, 0, canvas.width, canvas.height);
        var newMouseLocation = windowToCanvas(canvas, evt.clientX, evt.clientY);
        console.log("newMouseLocation", newMouseLocation);
        // 恢复先前渲染上下文所进行的变换
        // cs.restore();

        // var x=evt.clientX;
        // var y=evt.clientY;

        var x = newMouseLocation.x; //x是鼠标相对于画布的横坐标
        var y = newMouseLocation.y; //y是纵坐标
        // console.log("lastPostionX", lastPostionX);
        // console.log("lastPostionY", lastPostionY);
        // if (lastPostionX) {
        //   if (x !== lastPostionX || y !== lastPostionY) {
        //     var dx = x - lastPostionX;
        //     var dy = y - lastPostionY;
        //     lastPostionX = x;
        //     lastPostionY = y;
        //     x = x - dx * factor;
        //     y = y - dy * factor;
        //     console.log("x", x);
        //     console.log("y", y);
        //   } else {
        //     lastPostionX = x;
        //     lastPostionY = y;
        //   }
        // } else {
        //   lastPostionX = x;
        //   lastPostionY = y;
        // }

        // console.log("event", event);
        //仿项目放大
        var delta = evt.wheelDelta
          ? evt.wheelDelta / 80
          : evt.detail
          ? -evt.detail
          : 0;
        // // cs.setTransform(1, 0, 0, 1, 0, 0);
        // console.log('delta',delta);

        cs.translate(x, y);
        factor = Math.pow(1.1, delta); //缩放比例，1.1^clicks
        imgScale*=factor;
        console.log('imgScale',imgScale);
        // console.log("factor", factor);
        cs.scale(factor, factor);
        cs.translate(-x, -y);
        drawImage();

      }
      //windowToCanvas此方法用于鼠标所在点的坐标切换到画布上的坐标
      function windowToCanvas(canvas, x, y) {
        var bbox = canvas.getBoundingClientRect(); //getBoundingClientRect获取元素相对于视窗的位置集合
         console.log('bbox.left',bbox.left);
        console.log('bbox.top',bbox.top);
        console.log('bbox.right',bbox.right);
        console.log('bbox.bottom',bbox.bottom);
        console.log("bbox.width", bbox.width);
        console.log("canvas.height", canvas.width);
        console.log("bbox", bbox);
        console.log('x',x);
        console.log('y',y);
  
        x=x/imgScale;
        y=y/imgScale; 
        // return{
        //   x:x+imgX,
        //   y:y+imgY

        // }
        return {
          x: x - bbox.left - (bbox.width - canvas.width) / 2,
          y: y - bbox.top - (bbox.height - canvas.height) / 2
        };
      }
      //图片转换canvas渲染
      function drawImage() {
        console.log("imgX,imgY", imgX, imgY);
        console.log('imgScale',imgScale);
        console.log(`----------画图------------`);
        // cs.clearRect(0, 0, canvas.width * 2, canvas.height * 2);//在给定的矩形内清除指定的像素

        // 保存当前渲染上下文所进行的变换
        cs.save();

        // 重置渲染上下文并清空画布
        cs.setTransform(1, 0, 0, 1, 0, 0);
        cs.clearRect(0, 0, canvas.width, canvas.height);

        // 恢复先前渲染上下文所进行的变换
        cs.restore();

        cs.drawImage(
          image,
          imgX, //x
          imgY, //y
          image.width , //width
          image.height //height
        );
        cs.drawImage(
          image2,
          0, //sx开始裁剪的位置
          0, //sy
          500, //swidth裁剪的宽度
          image2.height, //sheight裁剪的高度
          imgX, //x画布上的x坐标
          imgY, //Y
          500 , //width要使用的图像宽度
          // image2.width * imgScale,
          image2.height  //height要使用的图像高度
        );
      }
    </script>
  </body>
</html>
